* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

button {
    font-size: 24pt;
    width: 150px;
    height: 55px;
    border: none;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: white;
}

h1 {
    font-size: 52pt;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:  400px;
    height: 400px;
    border-radius: 200px;
    gap: 10px;
    z-index: 999;
}

#circle {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 200px;
    background-color: rgb(233, 79, 55);
}

@keyframes Shrink {
    from {
       width: 400px;
       height: 400px;
       border-radius: 200px;
       transform: translateY(0);
    } 
    to {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        transform: translateY(-175px);
    }
}

@keyframes Circle {
    from {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        transform: rotate(0deg) translateY(-175px) rotate(0deg);
    }
    to {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        transform: rotate(-365deg) translateY(-175px) rotate(-365deg);
    }
}

@keyframes Grow {
    from {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        transform: translateY(-175px);
    }
    to{
       width: 400px;
       height: 400px;
       border-radius: 200px;
       transform: translateY(0);
    } 
}
